* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

:root {
  --white: #ffffff;
  --blue: rgba(7, 88, 206, 1);
  --greyishBlue: #6480A4;
  --lightgrey: rgba(161, 174, 183, 1);
  --darkgreyishblue: #435680;
  --inputgrey: #C2D1D9;
  --sub-info: #666666;
}

body {
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
  position: relative;
}

h2 {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 38px;
  padding: 10px;
  color: var(--blue);
  margin-bottom: 12px;
}

nav {
  padding: 0px 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-overlay {
  border: 1px solid #000;
  height: 100vh;
  width: 100%;
  background: rgba(10, 10, 10, 0.85);
  position: absolute;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-overlay ul a {
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;
  display: block;
  margin-bottom: 20px;
}

.nav-overlay ul a li {
  list-style: none;
  text-align: center;
}

.nav-overlay ul a li .d-d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-close {
  display: none;
}

section, footer {
  padding: 0px 40px;
  padding-top: 45px;
  padding-bottom: 55px;
}

.form {
  width: 100%;
  margin-bottom: 40px;
}

.form__input {
  height: 40px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid var(--inputgrey);
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--inputgrey);
  font-size: 14px;
  font-weight: 400;
  padding-left: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__input input[type], .form__input select, .form__input textarea {
  height: 40px;
  border: none;
  outline: var(--darkgreyishblue);
  background-color: var(--white);
}

.form__input input[type="email"] {
  width: 100%;
}

.form__input select {
  width: 100%;
}

.form__input .message {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  word-wrap: break-word;
}

.form__input textarea {
  width: 100%;
  height: 96px;
  padding-top: 6px;
}

.form input[type="button"] {
  width: 100%;
  height: 40px;
  border-radius: 12px;
  background-color: var(--blue);
  color: var(--white);
  text-transform: uppercase;
  border: none;
}

.header {
  padding: 0px 40px;
  padding-top: 187px;
  padding-bottom: 234px;
  background: url(../assets/images/bg-1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  color: var(--white);
}

.header__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.header__content {
  text-align: center;
  z-index: 2;
}

.header__content--main-text {
  font-size: 34px;
  font-weight: 700;
  line-height: 36px;
}

.header__content--main-text span {
  color: var(--blue);
}

.header__content--sub-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 24px 0px;
}

.header__content--btn {
  border-radius: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#003F9B), to(#0068FF));
  background: linear-gradient(180deg, #003F9B 0%, #0068FF 100%);
  height: 60px;
  font-weight: 500;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content--btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(#003F9B), to(#0068FF));
  background: linear-gradient(90deg, #003F9B 0%, #0068FF 100%);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.process__images {
  height: 194px;
  width: 100%;
  margin-bottom: 38px;
}

.process__steps {
  color: var(--blue);
  position: relative;
}

.process__steps--line {
  position: absolute;
  left: 6.4%;
}

.process__steps--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 38px;
}

.process__steps--items .number {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  border: 1px solid var(--blue);
  background-color: var(--white);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.process__steps--items .content {
  width: 266px;
}

.process__steps--items .content h4 {
  font-size: 18px;
  padding-bottom: 14px;
}

.process__steps--items .content p {
  font-size: 14px;
  line-height: 20px;
  color: var(--greyishBlue);
}

.process__check-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 12px;
}

.process__check-services a {
  text-decoration: underline;
  color: var(--blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.process__check-services a:hover svg {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  opacity: 0;
}

.our-works {
  /*     .projects {
        //border: $bor;
    } */
}

.our-works h2 {
  margin-bottom: 12px;
}

.our-works__project {
  color: var(--blue);
  margin-bottom: 50px;
}

.our-works__project--image {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin-bottom: 24px;
}

.our-works__project--image img {
  width: 100%;
}

.our-works__project--title {
  font-size: 20px;
  line-height: 31px;
  font-weight: 700;
  margin-bottom: 12px;
}

.our-works__project--description {
  color: var(--greyishBlue);
  font-weight: 400;
  font-size: 16px;
  line-height: 144.9%;
}

.our-works__project--btn {
  text-transform: uppercase;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 12px;
  margin-top: 32px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-works__check-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 12px;
}

.our-works__check-services a {
  text-decoration: underline;
  color: var(--blue);
}

.our-works__check-services a:hover svg {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  opacity: 0;
}

.blog__content {
  margin-bottom: 44px;
  color: var(--blue);
}

.blog__content--image {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.blog__content--image img {
  width: 100%;
}

.blog__content .content {
  width: 90%;
  margin: 0px auto;
  margin-bottom: 20px;
  text-align: center;
}

.blog__content .content__date {
  color: var(--lightgrey);
}

.blog__content .content__main-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
  margin-bottom: 8px;
}

.blog__content .content__sub-text {
  color: var(--darkgreyishblue);
}

.blog__content--btn {
  width: 116px;
  height: 40px;
  border: 1px solid var(--blue);
  border-radius: 4px;
  margin: 0px auto;
  text-decoration: none;
  color: var(--blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback .contents__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 44px;
}

.feedback .contents__item--image {
  width: 124px;
  height: 124px;
  margin-bottom: 20px;
}

.feedback .contents__item--image img {
  width: 100%;
  border-radius: 100%;
}

.feedback .contents__item--text {
  color: var(--darkgreyishblue);
  text-align: center;
  margin-bottom: 18px;
}

.feedback .contents__item--profile {
  text-align: center;
}

.feedback .contents__item--profile .name {
  color: var(--blue);
}

.feedback .contents__item--profile .job-title {
  color: var(--darkgreyishblue);
}

.team {
  color: var(--darkgreyishblue);
}

.team__intro-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 40px;
}

.team__team-members {
  color: var(--blue);
}

.team__team-members--member {
  text-align: center;
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__team-members--member .image {
  width: 124px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.team__team-members--member .image img {
  width: 100%;
  border-radius: 100%;
}

.team__team-members--member .profile {
  margin-bottom: 16px;
}

.team__team-members--member .profile p {
  font-size: 14px;
  color: var(--darkgreyishblue);
}

.team__team-members--member .role {
  font-size: 12px;
  line-height: 16px;
  margin: 12px;
}

.team__team-members--member .socials {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__team-members--member .socials__icon {
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__team-members--member .socials__icon a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.team__team-members--member .socials__icon:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.contact h2 {
  margin-bottom: 0px;
}

.contact h5 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  text-align: center;
  color: var(--blue);
  margin-bottom: 12px;
}

.contact__text {
  text-align: center;
  font-size: 12px;
  line-height: 21px;
  color: var(--darkgreyishblue);
  margin-bottom: 24px;
}

.contact__details .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  margin-bottom: 12px;
}

.contact__details .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
}

.footer {
  padding-bottom: 0px;
}

.footer__svg {
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.footer__svg svg {
  margin: 0 auto;
}

.footer__intro-text {
  margin-bottom: 30px;
}

.footer__intro-text p {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: var(--darkgreyishblue);
}

.footer__links {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__links--group {
  width: 220px;
  margin: 0px auto;
  margin-bottom: 44px;
}

.footer__links--group .item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 12px;
  color: var(--blue);
  width: 104px;
}

.footer__links--group .item h4 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer__links--group .item a {
  text-decoration: none;
  color: var(--darkgreyishblue);
  font-size: 14px;
}

.footer__links .contact .item {
  width: auto;
}

hr {
  background-color: var(--inputgrey);
}

.copy {
  color: var(--darkgreyishblue);
  font-size: 14px;
  text-align: center;
  padding: 10px 20px;
}

.copy .ref {
  margin-top: 10px;
  color: var(--darkgreyishblue);
}

.copy .ref a {
  text-decoration: none;
  color: var(--blue);
}

/* .services {
    //padding-bottom: 0px;
} */
.services-header {
  text-align: left;
  padding: 0px;
}

.services-paragraph {
  font-size: 14px;
}

.services-carousel {
  width: 100%;
  opacity: 0.8;
  overflow: hidden;
}

.services-carousel .top {
  margin-bottom: 10px;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
  -webkit-animation-name: scrollTop;
          animation-name: scrollTop;
}

.services-carousel .bottom {
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
  -webkit-animation-name: scrollBottom;
          animation-name: scrollBottom;
}

.services-carousel .top, .services-carousel .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  gap: 20px;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.services-carousel .top .box, .services-carousel .bottom .box {
  border: 1px solid #000;
  height: 33px;
  border-radius: 20px;
  padding: 0 20px;
  border-color: var(--blue);
  font-size: 12px;
  font-weight: 400;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes scrollTop {
  0% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  100% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
}

@keyframes scrollTop {
  0% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  100% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
}

@-webkit-keyframes scrollBottom {
  0% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  100% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@keyframes scrollBottom {
  0% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  100% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

.info-container {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 38px;
}

.info-container .info-box {
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #0668e4;
  border: 1px solid #000;
}

.info-container .info-box__image {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  margin: 0px auto;
}

.info-container .info-box__image img {
  width: 100%;
  max-height: 100%;
  display: block;
}

.info-container .info-box h3 {
  font-weight: 700;
  font-size: 34px;
  line-height: 36px;
  margin: 21px 0 17px 0;
  color: var(--darkgreyishblue);
}

.info-container .info-box .main-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 17px;
}

.info-container .info-box .sub-info {
  font-size: 12px;
  line-height: 16px;
  color: var(--sub-info);
}

.about-header, .what-we-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 17px;
}

.about-header h3, .what-we-do h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.022em;
  color: var(--darkgreyishblue);
}

.about-header p, .what-we-do p {
  font-weight: 14px;
}

.contact-us {
  background-color: var(--blue);
  color: var(--white);
  padding: 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-us .ready {
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-us .bar {
  height: 44px;
  width: 4px;
  background-color: var(--white);
  margin-right: 15px;
}

.contact-us a {
  text-decoration: none;
  color: var(--white);
}

.contact-us__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px 2px;
}
/*# sourceMappingURL=style.css.map */