* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  font-family: 'Jost', sans-serif;
}

:root {
  --white: #ffffff;
  --blue: rgba(7, 88, 206, 1);
  --greyishBlue: #6480A4;
  --lightgrey: rgba(161, 174, 183, 1);
  --darkgreyishblue: #435680;
  --inputgrey: #C2D1D9;
}

h2 {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 38px;
  padding: 10px;
  color: var(--blue);
  margin-bottom: 12px;
}

nav {
  padding: 0px 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section {
  padding: 0px 40px;
  padding-top: 45px;
  padding-bottom: 55px;
}

.header {
  padding: 0px 40px;
  padding-top: 187px;
  padding-bottom: 234px;
  background: url(../assets/images/bg-1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  color: var(--white);
}

.header__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.header__content {
  text-align: center;
  z-index: 2;
}

.header__content--main-text {
  font-size: 34px;
  font-weight: 700;
  line-height: 36px;
}

.header__content--main-text span {
  color: var(--blue);
}

.header__content--sub-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 24px 0px;
}

.header__content--btn {
  border-radius: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#003F9B), to(#0068FF));
  background: linear-gradient(180deg, #003F9B 0%, #0068FF 100%);
  height: 60px;
  font-weight: 500;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content--btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(#003F9B), to(#0068FF));
  background: linear-gradient(90deg, #003F9B 0%, #0068FF 100%);
}

.process__images {
  height: 194px;
  width: 100%;
  margin-bottom: 38px;
}

.process__steps {
  color: var(--blue);
  position: relative;
}

.process__steps--line {
  position: absolute;
  left: 6.4%;
}

.process__steps--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 38px;
}

.process__steps--items .number {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  border: 1px solid var(--blue);
  background-color: var(--white);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.process__steps--items .content {
  width: 266px;
}

.process__steps--items .content h4 {
  font-size: 18px;
  padding-bottom: 14px;
}

.process__steps--items .content p {
  font-size: 14px;
  line-height: 20px;
  color: var(--greyishBlue);
}

.process__check-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 12px;
}

.process__check-services a {
  text-decoration: underline;
  color: var(--blue);
}

.our-works {
  /*     .projects {
        //border: $bor;
    } */
}

.our-works h2 {
  margin-bottom: 12px;
}

.our-works__project {
  color: var(--blue);
  margin-bottom: 50px;
}

.our-works__project--image {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin-bottom: 24px;
}

.our-works__project--image img {
  width: 100%;
}

.our-works__project--title {
  font-size: 20px;
  line-height: 31px;
  font-weight: 700;
  margin-bottom: 12px;
}

.our-works__project--description {
  color: var(--greyishBlue);
  font-weight: 400;
  font-size: 16px;
  line-height: 144.9%;
}

.our-works__project--btn {
  text-transform: uppercase;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 12px;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-works__check-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 12px;
}

.our-works__check-services a {
  text-decoration: underline;
  color: var(--blue);
}

.blog__content {
  margin-bottom: 44px;
  color: var(--blue);
}

.blog__content--image {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.blog__content--image img {
  width: 100%;
}

.blog__content .content {
  width: 90%;
  margin: 0px auto;
  margin-bottom: 20px;
  text-align: center;
}

.blog__content .content__date {
  color: var(--lightgrey);
}

.blog__content .content__main-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 31px;
  margin-bottom: 8px;
}

.blog__content .content__sub-text {
  color: var(--darkgreyishblue);
}

.blog__content--btn {
  width: 116px;
  height: 40px;
  border: 1px solid var(--blue);
  border-radius: 4px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback .contents__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 44px;
}

.feedback .contents__item--image {
  width: 124px;
  height: 124px;
  margin-bottom: 20px;
}

.feedback .contents__item--image img {
  width: 100%;
  border-radius: 100%;
}

.feedback .contents__item--text {
  color: var(--darkgreyishblue);
  text-align: center;
  margin-bottom: 18px;
}

.feedback .contents__item--profile {
  text-align: center;
}

.feedback .contents__item--profile .name {
  color: var(--blue);
}

.feedback .contents__item--profile .job-title {
  color: var(--darkgreyishblue);
}

.team__intro-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 40px;
}

.team__team-members {
  color: var(--blue);
}

.team__team-members--member {
  text-align: center;
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center; 
          align-items: center;
}

.team__team-members--member .image {
  width: 124px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.team__team-members--member .image img {
  width: 100%;
  border-radius: 100%;
}

.team__team-members--member .profile {
  margin-bottom: 16px;
}

.team__team-members--member .profile p {
  font-size: 14px;
  color: var(--darkgreyishblue);
}

.team__team-members--member .role {
  font-size: 12px;
  line-height: 16px;
  margin: 12px;
}

.team__team-members--member .socials {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__team-members--member .socials__icon {
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__team-members--member .socials__icon a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.team__team-members--member .socials__icon:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.contact h2 {
  margin-bottom: 0px;
}

.contact h5 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  text-align: center;
  color: var(--blue);
  margin-bottom: 12px;
}

.contact__text {
  text-align: center;
  font-size: 12px;
  line-height: 21px;
  color: var(--darkgreyishblue);
  margin-bottom: 24px;
}

.contact .form {
  width: 100%;
  border: 1px solid #000;
}

.contact .form__input {
  height: 40px;
  border: 1px solid var(--inputgrey);
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */